<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Biker</span>
            <button class="btn btn-primary btn-lg float-end" routerLink="crear-bikers">Agregar </button>
            <table class="table mt-5 table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Nombres y Apellidos</th>
                    <th scope="col">Placa</th>
                    <th scope="col">DNI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th >1</th>
                    <td>Kennedy palomino</td>
                    <td>9935EA</td>
                    <td>45299292</td>
                    <td><i class="fas fa-edit fa-lg text-info mx-2"></i><i class="fas fa-trash fa-lg text-danger"></i></td>
                    
                  </tr>
                  <tr>
                    <th >2</th>
                    <td>Kennedy palomino</td>
                    <td>9935EA</td>
                    <td>45299292</td>
                    <td><i class="fas fa-edit fa-lg text-info mx-2"></i><i class="fas fa-trash fa-lg text-danger"></i></td>
                  </tr>
                  <tr>
                    <th >3</th>
                    <td>Kennedy palomino</td>
                    <td>9935EA</td>
                    <td>45299292</td>
                    <td><i class="fas fa-edit fa-lg text-info mx-2"></i><i class="fas fa-trash fa-lg text-danger"></i></td>
                  </tr>
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>
>