<div class="container pt-2">
    <div class="row row-cols-12 text-center">
        <div class="col-xl-6 col-sm-12 mt-4 text-center"  >
            <div class="card border p-0" >
                <img src="./assets/img/viajes_moto_2_0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Motociclista</h5>
                    <p class="card-text">Registra/Actualiza los copilotos autorizados</p>
                    <div class="row">
                        <div class="text-center">
                            <a href="/login" class="btn btn-primary btn-lg">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- COL END -->
        <div class="col-xl-6 col-sm-12 mt-4 text-center">
            <div class="card border p-0">
                <img src="./assets/img/policia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Policia</h5>
                    <p class="card-text">Verificar la autenticidad del carnet</p>
                    <div class="row">
                        <div class="text-center">
                            <a href="javascript:void(0)" class="btn btn-primary btn-lg">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- COL END -->

    </div>
</div>